<!DOCTYPE html>
<html>
<head>
  <title> Separate Jungle </title>
</head>
<body>
<h1>In the jungle</h1>
<img src="http://cf.ltkcdn.net/home-school/images/slide/74968-836x574-Tiger.jpg" height=140px>
<p>
This is a separate html page. 
<br> 
In rails, the file extension is .html.erb
<br> 
In Sinatra, it's .erb
</p>
</body>
</html>